@font-face {
  font-family: 'Rubik';
  src: url('../fonts/subset-Rubik-Regular.woff2') format('woff2'),
      url('../fonts/subset-Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik Mono One';
  src: url('../fonts/subset-RubikMonoOne-Regular.woff2') format('woff2'),
      url('../fonts/subset-RubikMonoOne-Regular.woff') format('woff');
}