.main-title{
  background: url('../img/Rectangle_7.jpg') #2a2a2a no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  h1{
    color: #ffffff;
    font-family: "Rubik Mono One";
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -1px;
    padding-top: 73px;
    @media (max-width: 800px) {
      font-size: 36px;
      line-height: 44px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      line-height: 38px;
    }
  }
}

